/**
 * CSS
 */
body {
	font-size: 16px;
}
.logo-ide {
	width: 100px;
	margin: 20px;
}
.center {
	margin: 20px;
}
footer.text-right {
	text-align: right;
}
section.center div.titulo {
	font-size: 22px;
	font-weight: bolder;
	-webkit-padding-start:20px;
	margin-bottom: 20px;
}
.fontes {
	font-size: 16px !important;
	text-decoration: underline;
}
.texto-destaque {
	font-size: 22px;
	margin: 10px 0 10px 0;
}
.img-site {
    max-width: 100%;
    height: 350px;
	margin-bottom: 30px;
}
.text-center {
	text-align: center;
}
.img-smartphone {
	height: 400px;
	max-width: 100%;
}
.img-framework {
	width: 100%;
}