<div class="alert quest">
	<span>{{textModalQuestion}}</span>
	<button class="btn-white-bg" ng-click="modal.close()">{{textModalQuestionOptionOne}}</button>
	<button class="btn-white-bg" ng-click="modal.dismiss()">{{textModalQuestionOptionTwo}}</button>
</div>