<div class="animated fadeIn" style="margin: 20px">
	<div>
		Olá. Seja bem vindo <b>{{nomeUsuario}}</b>!!!
		<br />
		<button value="Fazer logout" ng-click="logout()" style="border: 1px solid #000;">Fazer logout</button>
	</div>
</div>