<div class="animated fadeIn" style="margin: 20px">
	<div>
		<form name="loginForm" ng-submit="doLogin()" novalidate>
			<input id="emailLogin" class="input-login" placeholder="Email" ng-model="login.usuario" name="login" required="" type="email">
			<hr ng-class="{'has-error': loginForm.login.$invalid && loginForm.$submitted}">
			<input id="senhaLogin" class="input-login" type="password" placeholder="Senha" ng-model="login.password" name="senha" required="">
			<hr ng-class="{'has-error': loginForm.senha.$invalid && loginForm.$submitted}">
			<div>
				<input type="submit" value="Entrar" class="entrar-login" style="border: 1px solid #000;">
			</div> 
		</form>
	</div>
</div>