<div class="mapa" style="height: calc(100vh - 140px);">
	<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" style="height: 100% !important;">
	  <map zoom="{{googleMapsZoom}}" style="height: 100% !important;" geo-location-options="{{googleMapsGeoLocationOpts}}" default-style="false"></map>
	</div>
</div>